$main-color-white: #ffffff;
$main-color-blue: #572EE5;
$main-color-green: #50E3C2;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');


body {
    margin: 0;
    background-color: $main-color-white;
    header {
            background-color: $main-color-white;
            display: flex;
            
            #navbar {
                display: flex;
                flex-wrap: wrap;
                width: 100%; 
                align-content: center;
                justify-content: space-around;  
                background: rgba(255,255,255,0.50);
                overflow: hidden;   
                
                .up-barra {
                    display: flex;
                    background-color: $main-color-blue;
                    width: 100%;
                    height: 5px;
                    margin-top: 0%;
                    padding-top: 0%;
                }

                .logo-desktop {
                    width: 59.1px;
                    height: 59.1px;
                    justify-items: flex-start;
                    align-self: center;
                    font-weight: bold;
                }

                .logo-mobile {
                    display: none;
                }

                .menu {
                    display: none;
                    color: $main-color-blue;
                    padding-right: 3px;
                    align-self: center;
                    flex-direction: column;
                    margin-right: 19px;
                    
                    .raya {
                        display: none;
                        height: 2px;
                        width: 18px;
                        background-color: $main-color-blue;
                        margin-top: 3px;
                    }
                    .cuadrado {
                        display: none;
                        background-color: $main-color-blue;
                        width: 14px;
                        height: 14px;
                    }
                }

                .sticky {
                    position: fixed;
                    top: 0;
                    width: 100%;
                    box-shadow: 0px 2px 4px 1px #9CAFC3;
                    .barra {
                        display: flex;
                        text-align: right;              
                        white-space: nowrap;
                        border: 2px solid;
                        width: 30%;
                        min-width: 334px;
                        height: 50px;
                        border-color: $main-color-blue;
                        border-radius: 27px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 1%;
                        :focus {
                            outline: none;
                        }
                        
                        input {
                            display: flex;
                            border: none;
                            font-family: 'Roboto-black', sans-serif;
                            background: url(img/icon-search.svg) no-repeat scroll 97%;   
                            justify-content: space-around;  
                            margin: none;
                            width: 160%;
                            height: 100%;
                            align-items: center;
                            padding-left: 3%;
                        }
        
                        ul { 
                            border: $main-color-blue;
                            border-radius: 27px;
                            li {
                                color: #9CAFC3;
                                text-decoration: none;
                                list-style: none;
                                border-color: $main-color-blue;
                                border-radius: 27px;
                                font-family: 'Roboto-black', sans-serif;
                                
                                img {
                                    height: 15.8px;
                                    width: 15.8px;
                                    color: #9CAFC3;
                                    filter: grayscale(100%) brightness(0.8) opacity(35%);
                                    
                                }
                            }
                        }
        
        
                    }
                }

                .barra {
                    display: none;
                }

                .sections {
                    width: 30%;
                    display: flex;
                    list-style: none;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px;
                    li {
                        display: flex;
                        font-size: 16px;
                        margin-right: 0px;
                        font-family: 'Montserrat-Bold', sans-serif;
                        text-transform: uppercase;
                        color: $main-color-blue;
                        text-decoration: none;
                        font-weight: bold;
                        
                        .separador {
                            display: none;
                        } 

                        li:hover {
                            .separador{
                                display: inline;
                                color: $main-color-green;
                                width: 78px;
                                height: 1px;
                            }
                        }

                        #last-button {
                            
                            &:hover {
                                background: url('img/CTA-crear-gifo-hover.svg');
                            }
                        }                
                    }
                }
                #toggle {
                    display: none;
                }
            }
    
    }
    
    .favoritos {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                height: 21px;
                width: 28px;
    
            }

            h3 {
                font-family: 'Montserrat-Bold', sans-serif;
                color: $main-color-blue;
                //margin-left: 43%;
                
            }

            .barra {
                display: flex;
                text-align: center;
                white-space: nowrap;
                
                white-space: nowrap;
                border: 2px solid;
                width: 10%;
                height: 15%;
                border-color: $main-color-blue;
                border-radius: 27px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 5%;
                
                :focus {
                    outline: none;
                }

                ::placeholder{
                    color: #572EE5;
                    font-family: 'Montserrat-Bold', sans-serif;
                }

                input {
                    display: flex;
                    border: none;
                    font-family: 'Montserrat-Bold', sans-serif;
                    margin: none;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    border-radius: 27px;
                    padding: 10%;
                    
                }

            }
            
    }

    .gifos-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F3F5F8;
        h2 {
            font-family: 'Montserrat-Bold', sans-serif;
            font-size: 25px;
            color: $main-color-blue;
        }

        h5 {
            font-family: 'Roboto-Regular', sans-serif;
            br {
                display: none;
            }
        }
    }

    footer{
        height: 116px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around; 
        margin-bottom: 0;       
        .footerA {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h3 {
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 13px;
            }

            ul {
                li{
                    display: inline-block;
                    margin-right: 5px;

                    a {
                        .fab {
                            color: #e1e3e6;
                        }
                    }
                }
                .fab:hover {
                    color: $main-color-blue;
                }
            }
        }

        .footerB {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h2 {
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 13px;
            }
        }
        
        
        
    }
    
    .down-barra {
        display: block;
        background-color: $main-color-blue;
        width: 100%;
        height: 5px;   
    }
}
