@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
body {
  margin: 0;
  background-color: #ffffff;
}

body header {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

body header #navbar .up-barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #572EE5;
  width: 100%;
  height: 5px;
  margin-top: 0%;
  padding-top: 0%;
}

body header #navbar .logo-desktop {
  width: 59.1px;
  height: 59.1px;
  justify-items: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
}

body header #navbar .logo-mobile {
  display: none;
}

body header #navbar .menu {
  display: none;
  color: #572EE5;
  padding-right: 3px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 19px;
}

body header #navbar .menu .raya {
  display: none;
  height: 2px;
  width: 18px;
  background-color: #572EE5;
  margin-top: 3px;
}

body header #navbar .menu .cuadrado {
  display: none;
  background-color: #572EE5;
  width: 14px;
  height: 14px;
}

body header #navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px 1px #9CAFC3;
          box-shadow: 0px 2px 4px 1px #9CAFC3;
}

body header #navbar .sticky .barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  white-space: nowrap;
  border: 2px solid;
  width: 30%;
  min-width: 334px;
  height: 50px;
  border-color: #572EE5;
  border-radius: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

body header #navbar .sticky .barra :focus {
  outline: none;
}

body header #navbar .sticky .barra input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  font-family: 'Roboto-black', sans-serif;
  background: url(img/icon-search.svg) no-repeat scroll 97%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: none;
  width: 160%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3%;
}

body header #navbar .sticky .barra ul {
  border: #572EE5;
  border-radius: 27px;
}

body header #navbar .sticky .barra ul li {
  color: #9CAFC3;
  text-decoration: none;
  list-style: none;
  border-color: #572EE5;
  border-radius: 27px;
  font-family: 'Roboto-black', sans-serif;
}

body header #navbar .sticky .barra ul li img {
  height: 15.8px;
  width: 15.8px;
  color: #9CAFC3;
  -webkit-filter: grayscale(100%) brightness(0.8) opacity(35%);
          filter: grayscale(100%) brightness(0.8) opacity(35%);
}

body header #navbar .barra {
  display: none;
}

body header #navbar .sections {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}

body header #navbar .sections li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-right: 0px;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
  color: #572EE5;
  text-decoration: none;
  font-weight: bold;
}

body header #navbar .sections li .separador {
  display: none;
}

body header #navbar .sections li a {
  text-decoration: none;
  color: #572EE5;
}

body header #navbar .sections li a .boton-mas {
  height: 54px;
  width: 54px;
  background-image: url("img/button-crear-gifo.svg");
}

body header #navbar .sections li a .boton-mas:hover {
  background-image: url("img/CTA-crear-gifo-hover.svg");
}

body header #navbar .sections li li:hover .separador {
  display: inline;
  color: #50E3C2;
  width: 78px;
  height: 1px;
}

body header #navbar .sections li .marcado {
  color: #9CAFC3;
}

body header #navbar .sections li #last-button:hover {
  background: url("img/CTA-crear-gifo-hover.svg");
}

body header #navbar #toggle {
  display: none;
}

body .favoritos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .favoritos img {
  height: 21px;
  width: 28px;
}

body .favoritos h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  color: #572EE5;
  font-size: 25px;
}

body .favoritos .container-favoritos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 35px;
  grid-column-gap: 29px;
}

body .favoritos .container-favoritos .img-favorito {
  width: 260px;
  height: 200px;
}

body .favoritos .contenedor-ver-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

body .favoritos .contenedor-ver-mas .ver-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 127px;
  color: #572EE5;
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 13px;
  border: 1px solid;
  border-radius: 25px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .favoritos .contenedor-ver-mas :hover {
  background-color: #572EE5;
  color: #ffffff;
}

body .favoritos .vacio {
  display: none;
  text-align: center;
}

body .favoritos .vacio img {
  height: 151px;
  width: 150px;
}

body .favoritos .vacio p {
  color: #50E3C2;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 22px;
}

body .gifos-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F3F5F8;
}

body .gifos-section h2 {
  font-family: 'Montserrat', sans-serif;
  color: #572EE5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0%;
  padding-top: 3%;
}

body .gifos-section h5 {
  margin-top: 1%;
  font-family: 'Roboto-Regular', sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .gifos-section h5 br {
  display: none;
}

body .gifos-section .container-slider {
  width: 80%;
  margin: auto;
  position: relative;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  overflow: hidden;
}

body .gifos-section .container-slider .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  overflow: hidden;
}

body .gifos-section .container-slider .slider .slider-section {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  display: -ms-grid;
  display: grid;
  height: 275px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 7%;
  -webkit-transition: margin 700ms;
  transition: margin 700ms;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 257px;
          flex: 0 0 257px;
}

body .gifos-section .container-slider .slider .slider-section .fondoHover {
  background-color: #572EE5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

body .gifos-section .container-slider .slider .slider-section img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 275px;
  height: 275px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

body .gifos-section div .slider-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #F3F5F8;
  top: 40%;
  -webkit-transform: translate(-13%);
          transform: translate(-13%);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

body .gifos-section div .right {
  background: url("img/button-slider-right.svg");
  right: 10px;
}

body .gifos-section div .right:hover {
  background: url("img/button-slider-right-hover.svg");
}

body .gifos-section div .left {
  background: url("img/button-slider-left.svg");
  left: 10px;
}

body .gifos-section div .left:hover {
  background: url("img/button-slider-left-hover.svg");
}

body footer {
  height: 116px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
}

body footer .footerA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body footer .footerA h3 {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 13px;
}

body footer .footerA ul li {
  display: inline-block;
  margin-right: 5px;
}

body footer .footerA ul li a .fab {
  color: #e1e3e6;
}

body footer .footerA ul .fab:hover {
  color: #572EE5;
}

body footer .footerB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body footer .footerB h2 {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 13px;
}

body .down-barra {
  display: block;
  background-color: #572EE5;
  width: 100%;
  height: 5px;
}
/*# sourceMappingURL=styleFavoritos.css.map */