$main-color-white: #ffffff;
$main-color-blue: #572EE5;
$main-color-green: #50E3C2;
$main-color-grey: #37383C;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');





body {
    margin: 0;
    .main {
        background-color: $main-color-white;
        width: 100%;
        margin: 0px;
        transition: .3s ease all;

        header {
            background-color: $main-color-white;
            display: flex;
            .up-barra {
                display: flex;
                background-color: $main-color-blue;
                width: 100%;
                height: 5px;
                margin-top: 0%;
                padding-top: 0%;
            }
            nav {
                display: flex;
                flex-wrap: wrap;
                width: 100%; 
                align-content: center;
                justify-content: space-around;  
                background: rgba(255,255,255,0.50);
                overflow: visible;  
                
                    
                .logo-desktop { 
                    img  {
                        width: 59.1px;
                        height: 59.1px;
                        justify-items: flex-start;
                        align-self: center;
                        font-weight: bold;
                        margin-top: 25%;
                        margin-left: 60%;
                    }
                }
                
                .logo-mobile {
                    img {
                        display: none;
                    }
                }

                .logo-desktop-noc {
                    img {
                        display: none;
                    }
                }
                
                .logo-mobile-noc {
                    img {
                        display: none;
                    }
                }


                .container-barra {
                    display: none;
                    height: 3.5em;
                    text-align: right;
                    white-space: nowrap;
                    width: 40%;
                    min-width: 250px;
                    margin-top: 1%;
                    margin-left: auto;
                    margin-right: auto;

                    .barra {
                        display: flex;
                        flex-direction: column;
                        text-align: right;
                        white-space: nowrap;
                        justify-content: space-between;
                        border: 2px solid;
                        width: 100%;
                        min-width: 250px;
                        border-color: $main-color-blue;
                        border-radius: 27px;
                        background: white;
                        margin-top: 2%;
                        
                        .barra-simple {
                            display: flex;
                            flex-direction: row;
                            input {
                                margin: .7em;
                                display: flex;
                                border: none;
                                font-family: 'Roboto-black', sans-serif;
                                margin-top: 1%;  
                                width: 100%;
                                height: 70%;
                                align-items: center;  
                                text-align: left; 
                                
                                &::-webkit-search-decoration{
                                    display: none;
                                }
                                &::-webkit-search-cancel-button{
                                    display: none;
                                }
                                &::-webkit-search-results-button {
                                    display: none;
                                }
                                &::-webkit-search-results-decoration {
                                    display: none;
                                }
                                &:focus {
                                    outline: none;
                                }
            
                            }
            
                            .boton {
                                padding-right: 3%;
                                width: 50px;
                                height: 20px;
                                margin-top: 1%;
        
                                &.boton-search {
                                    background: url('img/icon-search.svg');
                                    background-repeat: no-repeat;
                                }
        
                                &.boton-cancel-search {
                                    background: url('img/close.svg');
                                    background-repeat: no-repeat;
                                    cursor: pointer;
                                    display: none;
                                }
                            }
                        }
        
                        .lista-search { 
                            display: none;   
                            border: $main-color-blue;
                            border-radius: 27px;
                            flex-direction: column;
                            //align-items: flex-start;
                            width: 10%;
                            text-align: left;
                            padding: 0%;
                            padding-left: 2%;
        
                            
        
        
                            li {
                                display: flex;
                                color: #9CAFC3;
                                text-decoration: none;
                                list-style: none;
                                border-color: $main-color-blue;
                                border-radius: 27px;
                                font-family: 'Roboto-black', sans-serif;
                                order: 1;
                                cursor: pointer;
                                text-align: left;
                                margin-top: 15%;
                                
                                img {
                                    height: 15.8px;
                                    width: 15.8px;
                                    color: #9CAFC3;
                                    filter: grayscale(100%) brightness(0.8) opacity(35%);
                                    order: -1;
                                    margin-right: 5%;
                                }
                            }
                        }
        
                        .separador-lista {
                            display: none;
                            justify-self: center;
                            background-color: #9CAFC3;
                            width: 505px;
                            height: 1px;
                            opacity: 0.5;
                            margin: 5px auto;
                        }
                    }
                }

                .sections {
                    width: 30%;
                    display: flex;
                    list-style: none;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px;
                    
                    li {
                        display: flex;
                        font-size: 16px;
                        margin-right: 0px;
                        font-family: 'Montserrat-Bold', sans-serif;
                        text-transform: uppercase;
                        color: $main-color-blue;
                        text-decoration: none;
                        outline: none;
                        font-weight: bold;
                        text-decoration: none;

                        a {
                            text-decoration: none;
                            color: $main-color-blue;

                            .boton-mas {
                                height: 54px;
                                width: 54px;
                                background-image: url('../img/button-crear-gifo.svg');
                                
                                &:hover {
                                    
                                    background-image: url('img/CTA-crear-gifo-hover.svg');
                                }
                            }
                        }
                        
                    
                        .separador {
                            display: none;
                        } 

                        li:visited {
                            color: $main-color-blue;
                        }

                        li:hover {
                            .separador{
                                display: inline;
                                color: $main-color-green;
                                width: 78px;
                                height: 1px;
                            }
                        }

                        #last-button {
                            background-image: url('img/button-crear-gifo.svg');
                            margin-right: 160%;
                            &:hover {
                                background: url('img/CTA-crear-gifo-hover.svg');
                            }
                        }                
                    }
                }
                #toggle {
                    display: none;
                }

                .boton-hamburguesa {
                    display: none;
                    background-image: url('img/burger.svg');
                    width: 15px;
                    height: 14px;

                    &.active-boton {
                        background-image: url('img/close.svg');
                    }
                }
            }

            .sections-mobile {
                display: none;
            }
            
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            box-shadow: 0px 2px 4px 1px #9CAFC3;
            z-index: 10;
            display: flex;
            justify-content: space-around;

            .container-barra {
                display: block;
            }
        }

        .main-section{
            display: flex;
            flex-direction: column;
            align-self: center;
            h1 {
                font-family: 'Montserrat', sans-serif;
                color: $main-color-blue;
                text-align: center;
                text-decoration: none;
                span {
                    color: $main-color-green;
                    display: inline;
                }
                .desktop-break {
                    display: inline;
                }
                .mobile-break {
                    display: none;
                }
            }

            img {
                max-width: 399px;
                max-height: 190px;
                width: 65%;
                height: 45%;
                align-self: center;
                padding-top: 5%;
            }

            .barra {
                display: flex;
                flex-direction: column;
                text-align: right;
                white-space: nowrap;
                justify-content: space-between;
                border: 2px solid;
                width: 40%;
                min-width: 250px;
                height: 100%;
                border-color: $main-color-blue;
                border-radius: 27px;
                margin-left: auto;
                margin-right: auto;
                
                .barra-simple {
                    display: flex;
                    flex-direction: row;
                    input {
                        margin: .7em;
                        display: flex;
                        border: none;
                        font-family: 'Roboto-black', sans-serif;
                        margin-top: 1%;  
                        width: 100%;
                        height: 80%;
                        align-items: center;  
                        text-align: left; 
                        
                        &::-webkit-search-decoration{
                            display: none;
                        }
                        &::-webkit-search-cancel-button{
                            display: none;
                        }
                        &::-webkit-search-results-button {
                            display: none;
                        }
                        &::-webkit-search-results-decoration {
                            display: none;
                        }
    
                    }
    
                    .boton {
                        padding-right: 3%;
                        width: 50px;
                        height: 20px;
                        margin-top: 1%;

                        &.boton-search {
                            background: url('img/icon-search.svg');
                            background-repeat: no-repeat;
                        }

                        &.boton-cancel-search {
                            background: url('img/close.svg');
                            background-repeat: no-repeat;
                            cursor: pointer;
                            display: none;
                        }
                    }
                }

                .lista-search { 
                    display: none;   
                    border: $main-color-blue;
                    border-radius: 27px;
                    flex-direction: column;
                    //align-items: flex-start;
                    width: 10%;
                    text-align: left;
                    padding: 0%;
                    padding-left: 2%;

                    &.hay-resultados {
                        display: flex;
                    }


                    li {
                        display: flex;
                        color: #9CAFC3;
                        text-decoration: none;
                        list-style: none;
                        border-color: $main-color-blue;
                        border-radius: 27px;
                        font-family: 'Roboto-black', sans-serif;
                        order: 1;
                        cursor: pointer;
                        text-align: left;
                        margin-top: 15%;
                        
                        img {
                            height: 15.8px;
                            width: 15.8px;
                            color: #9CAFC3;
                            filter: grayscale(100%) brightness(0.8) opacity(35%);
                            order: -1;
                            margin-right: 5%;
                        }
                    }
                }

                .separador-lista {
                    display: none;
                    justify-self: center;
                    background-color: #9CAFC3;
                    //width: 505px;
                    width: 85%;
                    height: 1px;
                    opacity: 0.5;
                    margin: 5px auto;
                }

                :focus {
                    outline: none;
                }

            }

            
        }

        .trending-section{
            padding-top: 4%;
            display: flex;
            flex-direction: column;
            align-content: center;
            padding-bottom: 8%;
            
            h4 {
                font-family: 'Montserrat', sans-serif;
                color: $main-color-blue;
                align-self: center;
            }

            .contenedor-sugerencias {
                width: 65%;
                align-self: center;
                text-align: center;
                a {
                    font-family: 'Montserrat', sans-serif;
                    color: $main-color-blue;
                    font-size: 16px;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                }
            }
            


        }

        .resultados {
            flex-direction: column;
            align-items: center;
            display: none;

            .titulo-resultado {
                font-family: 'Montserrat-Bold', sans-serif;
                color: $main-color-blue;
                font-size: 35px;
            }



            .container-resultados { 
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-row-gap: 35px;
                grid-column-gap: 29px;
                    .img-favorito {
                        width: 260px;
                        height: 200px;
                        align-content: space-around;
                        display: grid;
                        height: 275px;
                        object-fit: cover;
                        margin-left: 7%;
                        transition: margin 700ms;
                        flex: 0 0 257px;  

                        img {
                            object-fit: cover;
                            width: 275px;
                            height: 275px;
                            grid-area: 1 / 1 / 2 / 2;
                        }
                        
                        .fondoHover {
                            opacity: 0;
                            grid-area: 1 / 1 / 2 / 2;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;

                            &:hover {
                                background-color: rgba(87, 46, 229, 0.6);
                                opacity: 1;
                        
                            }
                            
                            
                            .boton-favorito{
                                margin: 2%;
                                width: 32px;
                                height: 32px;
                                background-image: url('img/icon-fav.svg');

                                &:hover {
                                    background-image: url('img/icon-fav-hover.svg');
                                }
                                &.favoritos-active {
                                    background-image: url('img/icon-fav-active.svg') no-repeat;
                                    width: 32px;
                                    height: 32px;
                                }
                            } 

                            .boton-descarga {
                                margin: 2%;
                                width: 32px;
                                height: 32px;
                                background-image: url('img/icon-download.svg');

                                &:hover {
                                    background-image: url('img/icon-download-hover.svg');
                                }
                            }
                        
                            .boton-expandir {
                                margin: 2%;
                                width: 32px;
                                height: 32px;
                                background-image: url('img/icon-max-normal.svg');

                                &:hover {
                                    background-image: url('img/icon-max-hover.svg');
                                }
                            }

                        }
                    }
                    
            }

            .contenedor-ver-mas {
                margin-top: 3%;
                margin-bottom: 3%;
                .ver-mas {
                        display: flex;
                        height: 50px;
                        width: 127px;
                        color: $main-color-blue;
                        font-family: 'Montserrat-bold', sans-serif;
                        font-size: 13px;
                        border: 1px solid;
                        border-radius: 25px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        
                }
                :hover {
                    background-color: $main-color-blue;
                    color: $main-color-white;
                }
                
            }

            .vacio {
                display: none;
            }
        }

        .gifos-section{
            display: flex;
            flex-direction: column;
            background-color: #F3F5F8;
            
            h2 {
                font-family: 'Montserrat', sans-serif;
                color: $main-color-blue;
                align-self: center;
                margin-bottom: 0%;
                padding-top: 3%;
            }
            

            h5 {
                margin-top: 1%;
                font-family: 'Roboto-Regular', sans-serif;
                align-self: center;
                br {
                    display: none;
                }
            }

            .container-slider {
                width: 80%;
                margin: auto;
                position: relative;
                padding-bottom: 15%;
                padding-left:5%;
                padding-right: 5%;
                padding-top: 5%;
                align-items: baseline;
                overflow: hidden;
            
                .slider {
                    display: flex;
                    align-content: space-around;
                    overflow: hidden;
                    
                    

                    .slider-section {
                        align-content: space-around;
                        display: grid;
                        height: 275px;
                        object-fit: cover;
                        margin-left: 7%;
                        transition: margin 700ms;
                        flex: 0 0 257px;  
                        
                        
                        .fondoHover {
                            opacity: 0;
                            grid-area: 1 / 1 / 2 / 2;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;

                            &:hover {
                                background-color: rgba(87, 46, 229, 0.6);
                                opacity: 1;
                        
                            }
                            
                            
                            .boton-favorito{
                                margin: 2%;
                                width: 32px;
                                height: 32px;
                                background-image: url('img/icon-fav.svg');

                                &:hover {
                                    background-image: url('img/icon-fav-hover.svg');
                                }
                                &.favoritos-active {
                                    background-image: url('img/icon-fav-active.svg');
                                    background-repeat: no-repeat;
                                    margin-top: 4%;
                                    margin-right: -0.5%;
                                    width: 32px;
                                    height: 32px;
                                }
                            } 

                            .boton-descarga {
                                margin: 2%;
                                width: 32px;
                                height: 32px;
                                background-image: url('img/icon-download.svg');

                                &:hover {
                                    background-image: url('img/icon-download-hover.svg');
                                }
                            }
                        
                            .boton-expandir {
                                margin: 2%;
                                width: 32px;
                                height: 32px;
                                background-image: url('img/icon-max-normal.svg');

                                &:hover {
                                    background-image: url('img/icon-max-hover.svg');
                                }
                            }

                        }                                   

                        img {
                            object-fit: cover;
                            width: 275px;
                            height: 275px;
                            grid-area: 1 / 1 / 2 / 2;
                              
                        }
                    }
                }
            }

            .botones-slider {
                .slider-btn {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    background-color: #F3F5F8;
                    top: 40%;
                    transform: translate(-13%);
                    font-size: 30px;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;

                }

                .right {
                    background: url('img/button-slider-right.svg');
                    right: 10px;
                    &:hover {
                        background: url('img/button-slider-right-hover.svg');
                    }
                }
        
                .left {
                    background: url('img/button-slider-left.svg');
                    left: 10px;
                    &:hover {
                        background: url('img/button-slider-left-hover.svg');
                    }
                }

            }

            .botones-slider-noc {
                display: none;
            }
            
        } 

        footer{
            height: 116px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around; 
            margin-bottom: 0; 
            margin-left: 0%;      
            .footerA {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                margin-left: 0%;
                h3 {
                    font-family: 'Roboto-Regular', sans-serif;
                    font-size: 13px;
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    li{
                        display: flex;
                        margin: 10%;

                        a {
                            .fab {
                                color: #e1e3e6;
                            }
                        }
                    }
                    .fab:hover {
                        color: $main-color-blue;
                    }
                }
            }

            .footerB {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                h2 {
                    font-family: 'Roboto-Regular', sans-serif;
                    font-size: 13px;
                }
            }
            
            
            
        }

        .down-barra {
            display: block;
            background-color: $main-color-blue;
            width: 100%;
            height: 5px;   
        }
    }

    .main-modal {
        width: 100%;
        height: 100%;
        display: inline;

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: $main-color-white;
            top: 0;
            left: 0;


            .modal-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 10%;

                .container-cerrar {
                    display: flex;
                    height: 34px;
                    width: 100%;
                    justify-content: flex-end;
                    padding-right: 25%;
                    .cerrar {
                        display: flex;
                        color: $main-color-blue;
                        width: 15.2px;
                        height: 15.2px;
                        justify-self: flex-end;
                        background-image: url('img/close.svg');
                        cursor: pointer;
                        background-repeat: no-repeat;
                    }
                }
                
                
                
                .img-modal {
                    height: 385px;
                    width: 695px;
                    text-align: center;
                   
                }


                .botones {
                    .modal-btn {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-color: #F3F5F8;
                        top: 40%;
                        transform: translate(-13%);
                        font-size: 30px;
                        font-weight: bold;
                        //text-align: center;
                        cursor: pointer;
                        margin: 5%;
                        
    
                    }
    
                    .right {
                        background: url('img/button-slider-right.svg');
                        right: 10px;
                        margin-right: 20%;
                        &:hover {
                            background: url('img/button-slider-right-hover.svg');
                        }
                    }
            
                    .left {
                        background: url('img/button-slider-left.svg');
                        left: 10px;
                        margin-left: 20%;
                        &:hover {
                            background: url('img/button-slider-left-hover.svg');
                        }
                    }
                }

                .barra-tareas {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 70%;
                    max-width: 695px;
                    height: 50%;
                    align-items: baseline;
                    margin-top: 1%;


                    .bloque-usuario {
                        display: flex;
                        width: 70%;
                        flex-direction: column;
                        margin-top: -15%;

                        h4 {
                            font-family: 'Roboto', sans-serif;
                            font-size: 15px;
                            width: 100%;
                        }
    
                        h3 {
                            font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                            width: 100%;
                            margin-top: -2%;
                        }
                    }
                    
                    .bloque-botones {
                        display: flex;
                        justify-content: flex-end;
                        width: 12%;
                        justify-content: space-around;

                        .boton-favorito {
                            display: flex;
                            justify-content: center;
                            margin: 2%;
                            width: 32px;
                            height: 32px;
                            border: 1px solid #CED7E1;
                            border-radius: 6px;
                            background-image: url('img/icon-fav.svg');

                            &:hover {
                                background-image: url('img/icon-fav-hover.svg');
                            }

                            &.favoritos-active {
                                background-image: url('img/icon-fav-active.svg');
                                background-repeat: no-repeat;
                                margin: 2%;
                                width: 32px;
                                height: 32px;
                                border: 1px solid #CED7E1;
                                border-radius: 6px;
                                
                            }

                        } 

                        .boton-descarga {
                            margin: 2%;
                            width: 32px;
                            height: 32px;
                            background-image: url('img/icon-download.svg');
                            border: 1px solid #CED7E1;
                            border-radius: 6px;

                            &:hover {
                                background-image: url('img/icon-download-hover.svg');
                            }
                        }

                    }
                }               
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    body {
        margin: 0%;
        width: 100%;

        &.scroll-locked {
            overflow-y: hidden;
            position: fixed;
            height: 100vh;
        }

        .main {
            header {
                background-color: $main-color-white;
                flex-direction: column;
                height: 8vh;
                
                .logo-mobile {
                    //margin-top: 25%;
                    a {
                        padding-left: 15px;
                        padding-top: 15px;
                        
                    }
                }
    
                .logo-desktop {
                    a {
                        display: none;
                    }
                }
    
    
                &.sticky {
                    position: inherit;
                    box-shadow: none;
                    .container-barra {
                        display: none;
                    }
                }
    
                nav {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 8vh;
                    
                    .boton-hamburguesa {
                        display: block;
                        margin-top: 30px;
                        cursor: pointer;
                        margin-right: 5%;

                    }

                    .sections {
                        display: none;
                    }
                }

                .sections-mobile-container {
                    z-index: 20;
                    margin-left: -7%;
                    .sections-mobile.expanded {
                        display: flex;
                        flex-direction: column;
                        background: rgba(87,46,229,0.90);
                        width: 100%;
                        height: 100vh;
                        margin: 0; 
                        justify-content: flex-start;
                        margin-top: 4%;  
                        margin-left: -5%; 
                        align-items: center;                     

                        li {
                            display: flex;
                            font-size: 16px;
                            margin-right: 0px;
                            margin-left: 0%;
                            font-family: 'Montserrat-Bold', sans-serif;
                            color: $main-color-white;
                            text-decoration: none;
                            outline: none;
                            font-weight: bold;
                            text-decoration: none;
                            margin-top: 5%;

                            .item {
                                color: $main-color-white;
                                font-family: 'Montserrat-Bold', sans-serif;
                                font-size: 15px;
                                text-decoration: none;
                                outline: none;
                                &.boton-mas {
                                    height: 54px;
                                    width: 54px;
                                    background-image: url('img/button-crear-gifo.svg');
                                        
                                    &:hover {                
                                        background-image: url('img/CTA-crear-gifo-hover.svg');
                                    }
                                }
                                
                            }

                            .separador {
                                height: 0.1px;
                                width: 41px;
                                border: 1px solid #FFFFFF;
                                opacity: 0.5;
                            }

                            .crear {
                                display: none;
                            } 
                        }
                        
                        
                    }
                }
            }

            .main-section { 
                width: 100%;
                
                h1 {
                    padding-top: 2%;
                    .desktop-break {
                        display: none;
                    }
                    .mobile-break {
                        display: flex;
                    }
                    span {
                        display: inline;
                    }
                }
    
                img {
                    min-width: 273px;
                    min-height: 130px;
                }
    
                .barra {
                    //min-width: 334px;
                    
                    text-align: space-around;
                    vertical-align: middle;
                    white-space: nowrap;
                    width: 300px;
                    input {
                        
                        width: 100%;
                    }

                    

                    .lista-search {
                        &.hay-resultados {
                            display: none;
                        }
                    }
                    
                }
    
            }
    
            .trending-section {
                display: flex;
                flex-direction: column;
                align-self: center;
                p {
                    text-align: center;
                    width: 40%;
                    br {
                        display: inline;
                    }
                }
            }
    
            .resultados {
                .titulo-resultado {
                    font-size: 25px;
                }
    
                .container-resultados {
                    grid-template-columns: 1fr 1fr;
                    grid-row-gap: 1.5vw;
                    grid-column-gap: 1.5vw;
                    width: auto;
    
                    .img-favorito {
                        width: 47vw;
                        height: inherit;
                        margin-left: 0;
    
                        img {
                            width: 47vw;
                            height: 47vw;
                        }
                    }
                }
            }
    
            .gifos-section {
                h2 {
                    padding-bottom: 2%;
                }
                h5 {
                    text-align: center;
                    br {
                        display: inline;
                    }
                }
    
                .container-slider {
                    .botones-slider {
                        display: none;
                    }
                }
            }
    
            footer {
                display: flex;
                flex-direction: column;
                padding-top: 8%;
                padding-bottom: 5%;
                align-self: center;
                .footerA {
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
    
                    h3 {
                        width: 100%;
                    }   
                           
                    .sections {
                        margin-top: 10%;
                        margin-right: 25%;
                        padding: 0px;
                    }
                }
                
            }           
        }

        .main-modal {
            .modalResultados {   
                .modal-content {
                    .botones {
                        display: none;
                    }

                    .img-modal {
                        margin: 2%;
                        width: 318px;
                        height: 245px;
                    }

                    .barra-tareas {
                        .bloque-usuario {
                            width: 45%;
                        }

                        .bloque-botones {
                            margin-top: 2%;
                            width: 25%;
                        }
                    }
                } 
            }
    
            .modalSlider {
                .modal-content {
                    .botones {
                        display: none;
                    }
    
                    .img-modal {
                        margin: 2%;
                        width: 318px;
                        height: 245px;
                    }

                    .barra-tareas {
                        .bloque-usuario {
                            width: 45%;
                        }

                        .bloque-botones {
                            margin-top: 2%;
                            width: 25%;
                        }
                    }
                }
            }
        }
    }
}


body.dark {
    .main {
        background-color: $main-color-grey;
        
        header {
                .up-barra {
                    background-color: #000000;
                }

                nav {
                    background-color: $main-color-grey;
                    //SOLUCIONAR ESPACIO

                    .logo-desktop {
                        display: none;
                    }

                    .logo-mobile {
                        img {
                            display: none;
                        }
                    }
    
                    .logo-desktop-noc {
                        img {
                            display: inline;
                            width: 59.1px;
                            height: 59.1px;
                            justify-items: flex-start;
                            align-self: center;
                            font-weight: bold;
                            margin-top: 25%;
                            margin-left: 60%;
                        }
                    }
                    
                    .logo-mobile-noc {
                        img {
                            display: none;
                        }
                    }

                    .sections {
                        li {
                            color: #FFFFFF;
                        }
                    }

                    .boton-hamburguesa {
                        background-image: url('img/burger-modo-noct.svg');
                        
                        &.active-boton {
                            background-image: url('img/close-modo-noct.svg');
                        }
                    }
                    
                }

                .sections-mobile-container {
                    .sections-mobile.expanded {
                        background: rgba(0, 0, 0, 0.9);
                    }
                }
        }

        .sticky {
            background-color: $main-color-grey;
            
            .barra{
                border-color: $main-color-white;
            }
        }

        .main-section {
            h1 {
                color: $main-color-white;
            }

            .barra{
                border-color: $main-color-white;
                background-color: $main-color-grey;

                .lista-search { 
                    display: none;   
                    border: $main-color-blue;
                    border-radius: 27px;
                    flex-direction: column;
                    //align-items: flex-start;
                    width: 10%;
                    text-align: left;
                    padding: 0%;
                    padding-left: 2%;                 

                    li {
                        display: flex;
                        color: #9CAFC3;
                        text-decoration: none;
                        list-style: none;
                        border-color: $main-color-blue;
                        border-radius: 27px;
                        font-family: 'Roboto-black', sans-serif;
                        order: 1;
                        cursor: pointer;
                        text-align: left;
                        margin-top: 15%;
                        
                        img {
                            height: 15.8px;
                            width: 15.8px;
                            color: #9CAFC3;
                            filter: grayscale(100%) brightness(0.8) opacity(35%);
                            order: -1;
                            margin-right: 5%;
                        }
                    }
                }

                .search {
                    background-color: $main-color-grey;
                }

                .boton-search {
                    background-image: url('img/icon-search-modo-noct.svg');
                }
            }
        }

        .trending-section {
            h4 {
                color: $main-color-white;
            }

            .contenedor-sugerencias { 
                a {
                    color: $main-color-white;
                }
            }
        }

        .gifos-section {
            background-color: #222326;

            h2 {
                color: $main-color-white;
            }

            h5 {
                color: $main-color-white;
            }

            .botones-slider {
                .slider-btn {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    background-color: #F3F5F8;
                    top: 40%;
                    transform: translate(-13%);
                    font-size: 30px;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;

                }

                .right {
                    background: url('img/button-slider-right-md-noct.svg');
                    right: 10px;
                    //&:hover {
                    //    background: url('img/button-close-hover-modo-noc.svg');
                    //}
                }
        
                .left {
                    background: url('img/button-slider-left-md-noct.svg');
                    left: 10px;
                    //&:hover {
                    //    background: url('img/button-close-hover-modo-noc.svg');
                    //}
                }
            }
            //NO FUNCIONA
        }

        footer {
            h3 {
                color: $main-color-white;
            }
            h2 {
                color: $main-color-white;
            }
        }

        .down-barra {
            background-color: #000000;
        }
    }
}