@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
body {
  margin: 0;
  width: 100%;
}

body header {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

body header #navbar .up-barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #572EE5;
  width: 100%;
  height: 5px;
  margin-top: 0%;
  padding-top: 0%;
}

body header #navbar .logo-desktop {
  width: 59.1px;
  height: 59.1px;
  justify-items: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
}

body header #navbar .logo-mobile {
  display: none;
}

body header #navbar .menu {
  display: none;
  color: #572EE5;
  padding-right: 3px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 19px;
}

body header #navbar .menu .raya {
  display: none;
  height: 2px;
  width: 18px;
  background-color: #572EE5;
  margin-top: 3px;
}

body header #navbar .menu .cuadrado {
  display: none;
  background-color: #572EE5;
  width: 14px;
  height: 14px;
}

body header #navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px 1px #9CAFC3;
          box-shadow: 0px 2px 4px 1px #9CAFC3;
}

body header #navbar .sticky .barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  white-space: nowrap;
  border: 2px solid;
  width: 30%;
  min-width: 334px;
  height: 50px;
  border-color: #572EE5;
  border-radius: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

body header #navbar .sticky .barra :focus {
  outline: none;
}

body header #navbar .sticky .barra input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  font-family: 'Roboto-black', sans-serif;
  background: url(img/icon-search.svg) no-repeat scroll 97%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: none;
  width: 160%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3%;
}

body header #navbar .sticky .barra ul {
  border: #572EE5;
  border-radius: 27px;
}

body header #navbar .sticky .barra ul li {
  color: #9CAFC3;
  text-decoration: none;
  list-style: none;
  border-color: #572EE5;
  border-radius: 27px;
  font-family: 'Roboto-black', sans-serif;
}

body header #navbar .sticky .barra ul li img {
  height: 15.8px;
  width: 15.8px;
  color: #9CAFC3;
  -webkit-filter: grayscale(100%) brightness(0.8) opacity(35%);
          filter: grayscale(100%) brightness(0.8) opacity(35%);
}

body header #navbar .barra {
  display: none;
}

body header #navbar .sections {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}

body header #navbar .sections li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-right: 0px;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
  color: #572EE5;
  text-decoration: none;
  font-weight: bold;
}

body header #navbar .sections li .separador {
  display: none;
}

body header #navbar .sections li a {
  text-decoration: none;
  color: #572EE5;
}

body header #navbar .sections li li:hover .separador {
  display: inline;
  color: #50E3C2;
  width: 78px;
  height: 1px;
}

body header #navbar .sections li #last-button:hover {
  background: url("img/CTA-crear-gifo-hover.svg");
}

body header #navbar #toggle {
  display: none;
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .main .central .camara {
  padding-top: 5%;
  margin-left: -15%;
  margin-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .central .camara .camara-uno {
  height: 163px;
  width: 123px;
}

body .main .central .camara .camara-luz {
  width: 91px;
  height: 151px;
  margin-top: 4%;
}

body .main .central .cuadro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  border-color: #572EE5;
  height: 100%;
  min-height: 390px;
  width: 688px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
}

body .main .central .cuadro .superior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .central .cuadro .superior #borde-sup-izq {
  justify-items: flex-start;
  width: 25px;
  height: 27px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #50E3C2;
}

body .main .central .cuadro .superior #borde-sup-der {
  width: 25px;
  height: 27px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-color: #50E3C2;
}

body .main .central .cuadro .main-cuadro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body .main .central .cuadro .main-cuadro.fondo-acceso {
  background-color: #572EE5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.6;
  position: absolute;
  z-index: 10;
}

body .main .central .cuadro .main-cuadro .img-carga {
  display: none;
  width: 22px;
  height: 22px;
}

body .main .central .cuadro .main-cuadro .img-listo {
  display: none;
  width: 22px;
  height: 22px;
}

body .main .central .cuadro .main-cuadro #titulo {
  font-family: 'Montserrat', sans-serif;
  color: #572EE5;
}

body .main .central .cuadro .main-cuadro #titulo span {
  color: #50E3C2;
}

body .main .central .cuadro .main-cuadro #texto {
  font-family: 'Roboto', sans-serif;
}

body .main .central .cuadro .main-cuadro video {
  height: 100%;
  display: none;
}

body .main .central .cuadro .main-cuadro .contenedor-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .main .central .cuadro .main-cuadro .contenedor-botones .boton-descarga {
  margin: 2%;
  width: 32px;
  height: 32px;
  background-image: url("/img/icon-download.svg");
}

body .main .central .cuadro .main-cuadro .contenedor-botones .boton-descarga:hover {
  background-image: url("/img/icon-download-hover.svg");
}

body .main .central .cuadro .main-cuadro .contenedor-botones .boton-copiar {
  margin: 2%;
  width: 32px;
  height: 32px;
  background-image: url("/img/icon-link-normal.svg");
}

body .main .central .cuadro .main-cuadro .contenedor-botones .boton-copiar:hover {
  background-image: url("/img/icon-link-hover.svg");
}

body .main .central .cuadro .inferior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .central .cuadro .inferior #borde-inf-izq {
  width: 25px;
  height: 27px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #50E3C2;
}

body .main .central .cuadro .inferior #borde-inf-der {
  width: 25px;
  height: 27px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #50E3C2;
}

body .main .contenedor-img-pelicula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -20px;
  justify-content: flex-end;
  padding-right: 15%;
}

body .main .contenedor-img-pelicula img {
  width: 142px;
  height: 89px;
  position: static;
}

body .main .botones-numeros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: -50px;
}

body .main .botones-numeros .numeros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  border-color: #572EE5;
  font-family: 'Roboto', sans-serif;
  color: #572EE5;
  border-radius: 70%;
  text-align: center;
  height: 32px;
  width: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

body .main .botones-numeros .seleccionado {
  background-color: #572EE5;
  color: #ffffff;
}

body .main .adicional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30%;
  margin-top: -25px;
  text-align: center;
}

body .main .adicional .repetir {
  display: none;
  color: #572EE5;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 13px;
  cursor: pointer;
}

body .main .adicional .repetir .subrayado {
  height: 1px;
  width: 122.9px;
  background-color: #50E3C2;
}

body .main .adicional .contador {
  color: #572EE5;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 15px;
}

body .main .separador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 795.9px;
  width: 45%;
  height: 6.9px;
  background-color: #572EE5;
  margin-top: 2%;
  border-radius: 20px;
}

body .main .contenedor-comenzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 1%;
}

body .main .contenedor-comenzar .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 127px;
  color: #572EE5;
  font-family: 'Montserrat-bold', sans-serif;
  border: 1px solid;
  border-radius: 25px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .main .contenedor-comenzar .grabar {
  display: none;
}

body .main .contenedor-comenzar .finalizar {
  display: none;
}

body .main .contenedor-comenzar .subir {
  display: none;
}

body .main .contenedor-comenzar :hover {
  background-color: #572EE5;
  color: #ffffff;
}

body footer {
  height: 116px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
}

body footer .footerA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body footer .footerA h3 {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 13px;
}

body footer .footerA ul li {
  display: inline-block;
  margin-right: 5px;
}

body footer .footerA ul li a .fab {
  color: #e1e3e6;
}

body footer .footerA ul .fab:hover {
  color: #572EE5;
}

body footer .footerB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body footer .footerB h2 {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 13px;
}

body .down-barra {
  display: block;
  background-color: #572EE5;
  width: 100%;
  height: 5px;
}
/*# sourceMappingURL=styleCrear.css.map */