@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
body {
  margin: 0;
  background-color: #ffffff;
  /*.main-modal {
        width: 100%;
        height: 100%;
        display: inline;

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: $main-color-white;
            top: 0;
            left: 0;


            .modal-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 10%;

                .container-cerrar {
                    display: flex;
                    height: 34px;
                    width: 100%;
                    justify-content: flex-end;
                    padding-right: 25%;
                    .cerrar {
                        display: flex;
                        color: $main-color-blue;
                        width: 15.2px;
                        height: 15.2px;
                        justify-self: flex-end;
                        background-image: url('/img/close.svg');
                        cursor: pointer;
                        background-repeat: no-repeat;
                    }
                }
                
                
                
                .img-modal {
                    height: 385px;
                    width: 695px;
                    text-align: center;
                   
                }


                .botones {
                    .modal-btn {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-color: #F3F5F8;
                        top: 40%;
                        transform: translate(-13%);
                        font-size: 30px;
                        font-weight: bold;
                        //text-align: center;
                        cursor: pointer;
                        margin: 5%;
                        
    
                    }
    
                    .right {
                        background: url('/img/button-slider-right.svg');
                        right: 10px;
                        margin-right: 20%;
                        &:hover {
                            background: url('/img/button-slider-right-hover.svg');
                        }
                    }
            
                    .left {
                        background: url('/img/button-slider-left.svg');
                        left: 10px;
                        margin-left: 20%;
                        &:hover {
                            background: url('/img/button-slider-left-hover.svg');
                        }
                    }
                }

                .barra-tareas {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 70%;
                    max-width: 695px;
                    height: 50%;
                    align-items: baseline;


                    .bloque-usuario {
                        display: flex;
                        width: 70%;
                        flex-direction: column;
                        margin-top: -15%;

                        h4 {
                            font-family: 'Roboto', sans-serif;
                            font-size: 15px;
                            width: 100%;
                        }
    
                        h3 {
                            font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                            width: 100%;
                            margin-top: -2%;
                        }
                    }
                    
                    .bloque-botones {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 5%;
                        width: 12%;
                        justify-content: space-around;

                        .boton-favorito{
                            margin: 2%;
                            width: 32px;
                            height: 32px;
                            background-image: url('/img/icon-fav.svg');
                            border: 1px solid #CED7E1;
                            border-radius: 6px;

                            &:hover {
                                background-image: url('/img/icon-fav-hover.svg');
                            }
                            &.favoritos-active {
                                background-image: url('/img/icon-fav-active.svg');
                                background-repeat: no-repeat;
                                //padding-top: 3%;
                                //padding-left: 3%;
                                border: none;
                                width: 32px;
                                height: 32px;
                            }
                        } 

                        .boton-descarga {
                            margin: 2%;
                            width: 32px;
                            height: 32px;
                            background-image: url('/img/icon-download.svg');
                            border: 1px solid #CED7E1;
                            border-radius: 6px;

                            &:hover {
                                background-image: url('img/icon-download-hover.svg');
                            }
                        }

                    }
                }               
            }
        }
    }*/
}

body .main header {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main header .up-barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #572EE5;
  width: 100%;
  height: 5px;
  margin-top: 0%;
  padding-top: 0%;
}

body .main header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(255, 255, 255, 0.5);
  overflow: visible;
}

body .main header nav .logo-desktop img {
  width: 59.1px;
  height: 59.1px;
  justify-items: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  margin-top: 25%;
  margin-left: 60%;
}

body .main header nav .logo-mobile img {
  display: none;
}

body .main header nav .logo-desktop-noc img {
  display: none;
}

body .main header nav .logo-mobile-noc img {
  display: none;
}

body .main header nav .container-barra {
  display: none;
  height: 3.5em;
  text-align: right;
  white-space: nowrap;
  width: 40%;
  min-width: 250px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

body .main header nav .container-barra .barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  white-space: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid;
  width: 100%;
  min-width: 250px;
  border-color: #572EE5;
  border-radius: 27px;
  background: white;
  margin-top: 2%;
}

body .main header nav .container-barra .barra .barra-simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .main header nav .container-barra .barra .barra-simple input {
  margin: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  font-family: 'Roboto-black', sans-serif;
  margin-top: 1%;
  width: 100%;
  height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

body .main header nav .container-barra .barra .barra-simple input::-webkit-search-decoration {
  display: none;
}

body .main header nav .container-barra .barra .barra-simple input::-webkit-search-cancel-button {
  display: none;
}

body .main header nav .container-barra .barra .barra-simple input::-webkit-search-results-button {
  display: none;
}

body .main header nav .container-barra .barra .barra-simple input::-webkit-search-results-decoration {
  display: none;
}

body .main header nav .container-barra .barra .barra-simple input:focus {
  outline: none;
}

body .main header nav .container-barra .barra .barra-simple .boton {
  padding-right: 3%;
  width: 50px;
  height: 20px;
  margin-top: 1%;
}

body .main header nav .container-barra .barra .barra-simple .boton.boton-search {
  background: url("/img/icon-search.svg");
  background-repeat: no-repeat;
}

body .main header nav .container-barra .barra .barra-simple .boton.boton-cancel-search {
  background: url("/img/close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
}

body .main header nav .container-barra .barra .lista-search {
  display: none;
  border: #572EE5;
  border-radius: 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
  text-align: left;
  padding: 0%;
  padding-left: 2%;
}

body .main header nav .container-barra .barra .lista-search li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9CAFC3;
  text-decoration: none;
  list-style: none;
  border-color: #572EE5;
  border-radius: 27px;
  font-family: 'Roboto-black', sans-serif;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
  text-align: left;
  margin-top: 15%;
}

body .main header nav .container-barra .barra .lista-search li img {
  height: 15.8px;
  width: 15.8px;
  color: #9CAFC3;
  -webkit-filter: grayscale(100%) brightness(0.8) opacity(35%);
          filter: grayscale(100%) brightness(0.8) opacity(35%);
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 5%;
}

body .main header nav .container-barra .barra .separador-lista {
  display: none;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #9CAFC3;
  width: 505px;
  height: 1px;
  opacity: 0.5;
  margin: 5px auto;
}

body .main header nav .sections {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}

body .main header nav .sections li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-right: 0px;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
  color: #572EE5;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  text-decoration: none;
}

body .main header nav .sections li a {
  text-decoration: none;
  color: #572EE5;
}

body .main header nav .sections li a .boton-mas {
  height: 54px;
  width: 54px;
  background-image: url("/img/button-crear-gifo.svg");
}

body .main header nav .sections li a .boton-mas:hover {
  background-image: url("/img/CTA-crear-gifo-hover.svg");
}

body .main header nav .sections li .separador {
  display: none;
}

body .main header nav .sections li li:visited {
  color: #572EE5;
}

body .main header nav .sections li li:hover .separador {
  display: inline;
  color: #50E3C2;
  width: 78px;
  height: 1px;
}

body .main header nav .sections li #last-button {
  background-image: url("/img/button-crear-gifo.svg");
  margin-right: 160%;
}

body .main header nav .sections li #last-button:hover {
  background: url("/img/CTA-crear-gifo-hover.svg");
}

body .main header nav #toggle {
  display: none;
}

body .main header nav .boton-hamburguesa {
  display: none;
  background-image: url("/img/burger.svg");
  width: 15px;
  height: 14px;
}

body .main header nav .boton-hamburguesa.active-boton {
  background-image: url("/img/close.svg");
}

body .main header .sections-mobile {
  display: none;
}

body .main .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px 1px #9CAFC3;
          box-shadow: 0px 2px 4px 1px #9CAFC3;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .main .sticky .barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  white-space: nowrap;
  border: 2px solid;
  width: 30%;
  min-width: 334px;
  height: 50px;
  border-color: #572EE5;
  border-radius: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

body .main .sticky .barra :focus {
  outline: none;
}

body .main .sticky .barra input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  font-family: 'Roboto-black', sans-serif;
  background: url("/img/icon-search.svg") no-repeat scroll 97%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: none;
  width: 160%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3%;
}

body .main .sticky .barra ul {
  border: #572EE5;
  border-radius: 27px;
}

body .main .sticky .barra ul li {
  color: #9CAFC3;
  text-decoration: none;
  list-style: none;
  border-color: #572EE5;
  border-radius: 27px;
  font-family: 'Roboto-black', sans-serif;
}

body .main .sticky .barra ul li img {
  height: 15.8px;
  width: 15.8px;
  color: #9CAFC3;
  -webkit-filter: grayscale(100%) brightness(0.8) opacity(35%);
          filter: grayscale(100%) brightness(0.8) opacity(35%);
}

body .main .favoritos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .favoritos .corazon {
  height: 21px;
  width: 28px;
}

body .main .favoritos h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  color: #572EE5;
  font-size: 25px;
}

body .main .favoritos .container-favoritos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 35px;
  grid-column-gap: 29px;
}

body .main .favoritos .container-favoritos .img-favorito {
  width: 260px;
  height: 200px;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  display: -ms-grid;
  display: grid;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 7%;
  -webkit-transition: margin 700ms;
  transition: margin 700ms;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 257px;
          flex: 0 0 257px;
}

body .main .favoritos .container-favoritos .img-favorito img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 275px;
  height: 275px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

body .main .favoritos .container-favoritos .img-favorito .fondoHover {
  opacity: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .main .favoritos .container-favoritos .img-favorito .fondoHover:hover {
  background-color: rgba(87, 46, 229, 0.6);
  opacity: 1;
}

body .main .favoritos .container-favoritos .img-favorito .fondoHover .boton-favorito {
  margin: 2%;
  width: 32px;
  height: 32px;
  background-image: url("/img/icon-fav.svg");
}

body .main .favoritos .container-favoritos .img-favorito .fondoHover .boton-favorito:hover {
  background-image: url("/img/icon-fav-hover.svg");
}

body .main .favoritos .container-favoritos .img-favorito .fondoHover .boton-favorito.favoritos-active {
  background-image: url("/img/icon-fav-active.svg");
  background-repeat: no-repeat;
  margin-top: 4%;
  margin-right: -0.5%;
  width: 32px;
  height: 32px;
}

body .main .favoritos .container-favoritos .img-favorito .fondoHover .boton-descarga {
  margin: 2%;
  width: 32px;
  height: 32px;
  background-image: url("/img/icon-download.svg");
}

body .main .favoritos .container-favoritos .img-favorito .fondoHover .boton-descarga:hover {
  background-image: url("img/icon-download-hover.svg");
}

body .main .favoritos .container-favoritos .img-favorito .fondoHover .boton-expandir {
  margin: 2%;
  width: 32px;
  height: 32px;
  background-image: url("/img/icon-max-normal.svg");
}

body .main .favoritos .container-favoritos .img-favorito .fondoHover .boton-expandir:hover {
  background-image: url("/img/icon-max-hover.svg");
}

body .main .favoritos .contenedor-ver-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

body .main .favoritos .contenedor-ver-mas .ver-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 127px;
  color: #572EE5;
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 13px;
  border: 1px solid;
  border-radius: 25px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .favoritos .contenedor-ver-mas :hover {
  background-color: #572EE5;
  color: #ffffff;
}

body .main .favoritos .vacio {
  display: none;
  text-align: center;
}

body .main .favoritos .vacio img {
  height: 151px;
  width: 150px;
}

body .main .favoritos .vacio p {
  color: #50E3C2;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 22px;
}

body .main .gifos-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F3F5F8;
}

body .main .gifos-section h2 {
  font-family: 'Montserrat', sans-serif;
  color: #572EE5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0%;
  padding-top: 3%;
}

body .main .gifos-section h5 {
  margin-top: 1%;
  font-family: 'Roboto-Regular', sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .main .gifos-section h5 br {
  display: none;
}

body .main .gifos-section .container-slider {
  width: 80%;
  margin: auto;
  position: relative;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  overflow: hidden;
}

body .main .gifos-section .container-slider .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  overflow: hidden;
}

body .main .gifos-section .container-slider .slider .slider-section {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  display: -ms-grid;
  display: grid;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 7%;
  -webkit-transition: margin 700ms;
  transition: margin 700ms;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 257px;
          flex: 0 0 257px;
}

body .main .gifos-section .container-slider .slider .slider-section .fondoHover {
  opacity: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .main .gifos-section .container-slider .slider .slider-section .fondoHover:hover {
  background-color: rgba(87, 46, 229, 0.6);
  opacity: 1;
}

body .main .gifos-section .container-slider .slider .slider-section .fondoHover .boton-favorito {
  margin: 2%;
  width: 32px;
  height: 32px;
  background-image: url("/img/icon-fav.svg");
}

body .main .gifos-section .container-slider .slider .slider-section .fondoHover .boton-favorito:hover {
  background-image: url("/img/icon-fav-hover.svg");
}

body .main .gifos-section .container-slider .slider .slider-section .fondoHover .boton-favorito.favoritos-active {
  background-image: url("/img/icon-fav-active.svg");
  background-repeat: no-repeat;
  margin-top: 4%;
  margin-right: -0.5%;
  width: 32px;
  height: 32px;
}

body .main .gifos-section .container-slider .slider .slider-section .fondoHover .boton-descarga {
  margin: 2%;
  width: 32px;
  height: 32px;
  background-image: url("/img/icon-download.svg");
}

body .main .gifos-section .container-slider .slider .slider-section .fondoHover .boton-descarga:hover {
  background-image: url("/img/icon-download-hover.svg");
}

body .main .gifos-section .container-slider .slider .slider-section .fondoHover .boton-expandir {
  margin: 2%;
  width: 32px;
  height: 32px;
  background-image: url("/img/icon-max-normal.svg");
}

body .main .gifos-section .container-slider .slider .slider-section .fondoHover .boton-expandir:hover {
  background-image: url("/img/icon-max-hover.svg");
}

body .main .gifos-section .container-slider .slider .slider-section img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 275px;
  height: 275px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

body .main .gifos-section div .slider-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #F3F5F8;
  top: 40%;
  -webkit-transform: translate(-13%);
          transform: translate(-13%);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

body .main .gifos-section div .right {
  background: url("/img/button-slider-right.svg");
  right: 10px;
}

body .main .gifos-section div .right:hover {
  background: url("/img/button-slider-right-hover.svg");
}

body .main .gifos-section div .left {
  background: url("/img/button-slider-left.svg");
  left: 10px;
}

body .main .gifos-section div .left:hover {
  background: url("/img/button-slider-left-hover.svg");
}

body .main footer {
  height: 116px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
}

body .main footer .footerA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .main footer .footerA h3 {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 13px;
}

body .main footer .footerA ul li {
  display: inline-block;
  margin-right: 5px;
}

body .main footer .footerA ul li a .fab {
  color: #e1e3e6;
}

body .main footer .footerA ul .fab:hover {
  color: #572EE5;
}

body .main footer .footerB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .main footer .footerB h2 {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 13px;
}

body .main .down-barra {
  display: block;
  background-color: #572EE5;
  width: 100%;
  height: 5px;
}

body .main-modal {
  width: 100%;
  height: 100%;
  display: inline;
}

body .main-modal .modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  top: 0;
  left: 0;
}

body .main-modal .modal .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
}

body .main-modal .modal .modal-content .container-cerrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 25%;
}

body .main-modal .modal .modal-content .container-cerrar .cerrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #572EE5;
  width: 15.2px;
  height: 15.2px;
  justify-self: flex-end;
  background-image: url("/img/close.svg");
  cursor: pointer;
  background-repeat: no-repeat;
}

body .main-modal .modal .modal-content .img-modal {
  height: 385px;
  width: 695px;
  text-align: center;
}

body .main-modal .modal .modal-content .botones .modal-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #F3F5F8;
  top: 40%;
  -webkit-transform: translate(-13%);
          transform: translate(-13%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin: 5%;
}

body .main-modal .modal .modal-content .botones .right {
  background: url("/img/button-slider-right.svg");
  right: 10px;
  margin-right: 20%;
}

body .main-modal .modal .modal-content .botones .right:hover {
  background: url("/img/button-slider-right-hover.svg");
}

body .main-modal .modal .modal-content .botones .left {
  background: url("/img/button-slider-left.svg");
  left: 10px;
  margin-left: 20%;
}

body .main-modal .modal .modal-content .botones .left:hover {
  background: url("/img/button-slider-left-hover.svg");
}

body .main-modal .modal .modal-content .barra-tareas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  max-width: 695px;
  height: 50%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 1%;
}

body .main-modal .modal .modal-content .barra-tareas .bloque-usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -15%;
}

body .main-modal .modal .modal-content .barra-tareas .bloque-usuario h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
}

body .main-modal .modal .modal-content .barra-tareas .bloque-usuario h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  margin-top: -2%;
}

body .main-modal .modal .modal-content .barra-tareas .bloque-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 12%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .main-modal .modal .modal-content .barra-tareas .bloque-botones .boton-favorito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
  width: 32px;
  height: 32px;
  border: 1px solid #CED7E1;
  border-radius: 6px;
  background-image: url("/img/icon-fav.svg");
}

body .main-modal .modal .modal-content .barra-tareas .bloque-botones .boton-favorito:hover {
  background-image: url("/img/icon-fav-hover.svg");
}

body .main-modal .modal .modal-content .barra-tareas .bloque-botones .boton-favorito.favoritos-active {
  background-image: url("/img/icon-fav-active.svg");
  background-repeat: no-repeat;
  /*border: none;
                                padding-top: 5px;
                                padding-left: 5px;
                                width: 32px;
                                height: 32px;*/
  margin: 2%;
  width: 32px;
  height: 32px;
  border: 1px solid #CED7E1;
  border-radius: 6px;
}

body .main-modal .modal .modal-content .barra-tareas .bloque-botones .boton-descarga {
  margin: 2%;
  width: 32px;
  height: 32px;
  background-image: url("/img/icon-download.svg");
  border: 1px solid #CED7E1;
  border-radius: 6px;
}

body .main-modal .modal .modal-content .barra-tareas .bloque-botones .boton-descarga:hover {
  background-image: url("img/icon-download-hover.svg");
}

@media screen and (max-device-width: 1000px) {
  body {
    margin: 0;
    width: 100%;
  }
  body.scroll-locked {
    overflow-y: hidden;
    position: fixed;
    height: 100vh;
  }
  body header {
    background-color: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 8vh;
  }
  body header .logo-mobile a {
    padding-left: 15px;
    padding-top: 15px;
  }
  body header .logo-desktop a {
    display: none;
  }
  body header.sticky {
    position: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body header.sticky .container-barra {
    display: none;
  }
  body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 8vh;
  }
  body header nav .boton-hamburguesa {
    display: block;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 5%;
  }
  body header nav .sections {
    display: none;
  }
  body header .sections-mobile-container {
    z-index: 20;
  }
  body header .sections-mobile-container .sections-mobile.expanded {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(87, 46, 229, 0.9);
    width: 100%;
    height: 100vh;
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .sections-mobile-container .sections-mobile.expanded li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    margin-top: 5%;
  }
  body header .sections-mobile-container .sections-mobile.expanded li .item {
    color: #ffffff;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 15px;
    text-decoration: none;
    outline: none;
  }
  body header .sections-mobile-container .sections-mobile.expanded li .item .boton-mas {
    height: 54px;
    width: 54px;
    background-image: url("/img/button-crear-gifo.svg");
  }
  body header .sections-mobile-container .sections-mobile.expanded li .item .boton-mas:hover {
    background-image: url("/img/CTA-crear-gifo-hover.svg");
  }
  body header .sections-mobile-container .sections-mobile.expanded li .separador {
    height: 0.1px;
    width: 41px;
    border: 1px solid #FFFFFF;
    opacity: 0.5;
  }
  body header .sections-mobile-container .sections-mobile.expanded li .crear {
    display: none;
  }
  body .favoritos .container-favoritos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 21px;
    grid-column-gap: 25px;
  }
  body .favoritos .container-favoritos .img-favorito {
    width: 156px;
    height: 120px;
  }
  body .gifos-section h2 {
    padding-bottom: 2%;
  }
  body .gifos-section h5 {
    text-align: center;
  }
  body .gifos-section h5 br {
    display: inline;
  }
  body .gifos-section .container-slider .slider-btn {
    display: none;
  }
  body footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 8%;
    padding-bottom: 5%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  body footer .footerA {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body footer .footerA h3 {
    width: 100%;
    margin-left: 15%;
  }
  body footer .footerB {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body footer .footerB h2 {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
  }
}
/*# sourceMappingURL=styleFavoritos.css.map */