$main-color-white: #ffffff;
$main-color-blue: #572EE5;
$main-color-green: #50E3C2;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    width: 100%;
    header {
        background-color: $main-color-white;
        display: flex;
        
        #navbar {
            display: flex;
            flex-wrap: wrap;
            width: 100%; 
            align-content: center;
            justify-content: space-around;  
            background: rgba(255,255,255,0.50);
            overflow: hidden;   
            
            .up-barra {
                display: flex;
                background-color: $main-color-blue;
                width: 100%;
                height: 5px;
                margin-top: 0%;
                padding-top: 0%;
            }

            .logo-desktop {
                width: 59.1px;
                height: 59.1px;
                justify-items: flex-start;
                align-self: center;
                font-weight: bold;
            }

            .logo-mobile {
                display: none;
            }

            .menu {
                display: none;
                color: $main-color-blue;
                padding-right: 3px;
                align-self: center;
                flex-direction: column;
                margin-right: 19px;
                
                .raya {
                    display: none;
                    height: 2px;
                    width: 18px;
                    background-color: $main-color-blue;
                    margin-top: 3px;
                }
                .cuadrado {
                    display: none;
                    background-color: $main-color-blue;
                    width: 14px;
                    height: 14px;
                }
            }

            .sticky {
                position: fixed;
                top: 0;
                width: 100%;
                box-shadow: 0px 2px 4px 1px #9CAFC3;
                .barra {
                    display: flex;
                    text-align: right;              
                    white-space: nowrap;
                    border: 2px solid;
                    width: 30%;
                    min-width: 334px;
                    height: 50px;
                    border-color: $main-color-blue;
                    border-radius: 27px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 1%;
                    :focus {
                        outline: none;
                    }
                    
                    input {
                        display: flex;
                        border: none;
                        font-family: 'Roboto-black', sans-serif;
                        background: url(img/icon-search.svg) no-repeat scroll 97%;   
                        justify-content: space-around;  
                        margin: none;
                        width: 160%;
                        height: 100%;
                        align-items: center;
                        padding-left: 3%;
                    }
    
                    ul { 
                        border: $main-color-blue;
                        border-radius: 27px;
                        li {
                            color: #9CAFC3;
                            text-decoration: none;
                            list-style: none;
                            border-color: $main-color-blue;
                            border-radius: 27px;
                            font-family: 'Roboto-black', sans-serif;
                            
                            img {
                                height: 15.8px;
                                width: 15.8px;
                                color: #9CAFC3;
                                filter: grayscale(100%) brightness(0.8) opacity(35%);
                                
                            }
                        }
                    }
    
    
                }
            }

            .barra {
                display: none;
            }

            .sections {
                width: 30%;
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: space-between;
                padding: 0px;
                li {
                    display: flex;
                    font-size: 16px;
                    margin-right: 0px;
                    font-family: 'Montserrat-Bold', sans-serif;
                    text-transform: uppercase;
                    color: $main-color-blue;
                    text-decoration: none;
                    font-weight: bold;
                    
                    .separador {
                        display: none;
                    } 

                    a {
                        text-decoration: none;
                        color: $main-color-blue;
                    }

                    li:hover {
                        .separador{
                            display: inline;
                            color: $main-color-green;
                            width: 78px;
                            height: 1px;
                        }
                    }

                    #last-button {
                        
                        &:hover {
                            background: url('img/CTA-crear-gifo-hover.svg');
                        }
                    }                
                }
            }
            #toggle {
                display: none;
            }
        }

    }

    .main {
        display: flex;
        padding-top: 1%;
        flex-direction: column;

        .central {
            display: flex;
            justify-content: center;
            align-content: center;
            
            .camara {
                padding-top: 5%;
                margin-left: -15%;
                margin-right: 3%;
                display: flex;
                .camara-uno {
                    height: 163px;
                    width: 123px;

                }
                .camara-luz {
                    width: 91px;
                    height: 151px;
                    margin-top: 4%;
                }
            }
            .cuadro {      
                display: flex;          
                border: 1px solid;
                border-color: $main-color-blue;
                height: 100%;
                min-height: 390px;
                width: 688px;
                flex-direction: column;
                text-align: center;
                justify-content: space-between;
                padding: 1%;

                .superior {
                    
                    display: flex;
                    justify-content: space-between;
                    
                    #borde-sup-izq {  
                    
                        justify-items: flex-start;
                        width: 25px;
                        height: 27px;
                        border-top: 1px solid;
                        border-left: 1px solid;
                        border-color: $main-color-green;
                    }
        
                    #borde-sup-der {
                        
                        width: 25px;
                        height: 27px;
                        border-top: 1px solid;
                        border-right: 1px solid;
                        border-color: $main-color-green;
                        
                    }
                }

                .main-cuadro {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    /*display: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        background-color: rgba(87, 46, 229, 0.6);
                        opacity: 1;
                        position: relative;
                        z-index: 1;*/

                    .img-carga {
                        display: none;
                        width: 22px;
                        height: 22px;
                    }

                    .img-listo {
                        display: none;
                        width: 22px;
                        height: 22px;
                    }

                    #titulo {
                        font-family: 'Montserrat', sans-serif;
                        color: $main-color-blue;
                        
                        span {
                            color: $main-color-green;
                        }
                    }
        
                    #texto {
                        
                        font-family: 'Roboto', sans-serif;
                    } 

                    video {
                        height: 100%;
                        display: none;
                    }


                    .fondo-acceso {
                        display: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        background-color: rgba(87, 46, 229, 0.6);
                        opacity: 1;
                        position: relative;
                        z-index: 1;
                        .acceso {
                            font-family: 'Montserrat-Bold', sans-serif;
                            background-color: red;
                            font-size: 15px;
                            z-index: 2;
                            position: absolute;
                        }
                    }
                    
                }
    
                

                .inferior {
                    display: flex;
                    justify-content: space-between;
                    
                    #borde-inf-izq {
                        width: 25px;
                        height: 27px;
                        border-bottom: 1px solid;
                        border-left: 1px solid;
                        border-color: $main-color-green;
                    }
        
                    #borde-inf-der {
                        
                        width: 25px;
                        height: 27px;
                        border-bottom: 1px solid;
                        border-right: 1px solid;
                        border-color: $main-color-green;
                    }
                }
    
                
            } 
    
        }
        
        .contenedor-img-pelicula {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: -20px;
            justify-content: flex-end;
            padding-right: 15%;
            
            img {
                width: 142px;
                height: 89px;
                position: static;
            }
        }
        

        .botones-numeros {
            display: flex;
            align-self: center;
            margin-top: -50px;
            
            
            .numeros {
                display: flex;
                border: 1px solid;
                border-color: $main-color-blue;
                font-family: 'Roboto', sans-serif;
                color: $main-color-blue;
                border-radius: 70%;
                text-align: center;
                height: 32px;
                width: 32px;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
            }

            .seleccionado {
                background-color: $main-color-blue;
                color: $main-color-white;
            }

        }

        .adicional {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 30%;
            margin-top: -25px;
            .repetir {
                display: none;
                color: $main-color-blue;
                font-family: 'Montserrat-Bold', sans-serif;
                font-size: 13px;
                cursor: pointer;
            
                .subrayado {
                    height: 1px;
                    width: 122.9px;
                    background-color: $main-color-green;
                }
            }   
            .contador {
                display: none;
                background-color: $main-color-blue;
                font-family: 'Montserrat-Bold', sans-serif;
                font-size: 125px;
                text-align: center;
                justify-content: flex-end;
                //margin-left: 25%;
            }
        }

        .separador {
            display: flex;
            align-self: center;
            min-width: 795.9px;
            width: 45%;
            height: 6.9px;
            background-color: $main-color-blue;
            margin-top: 2%;
            border-radius: 20px;
        }

        .contenedor-comenzar {
            display: flex;
            align-self: center;
            margin-top: 1%;
            
            .boton {
                display: flex;
                height: 50px;
                width: 127px;
                color: $main-color-blue;
                font-family: 'Montserrat-bold', sans-serif;
                border: 1px solid;
                border-radius: 25px;
                text-align: center;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .grabar {
                display: none;
            }

            .finalizar {
                display: none;
            }

            .subir {
                display: none;
            }

            :hover {
                background-color: $main-color-blue;
                color: $main-color-white;
            }

        }
        
    }

    footer{
        height: 116px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around; 
        margin-bottom: 0;       
        .footerA {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h3 {
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 13px;
            }

            ul {
                li{
                    display: inline-block;
                    margin-right: 5px;

                    a {
                        .fab {
                            color: #e1e3e6;
                        }
                    }
                }
                .fab:hover {
                    color: $main-color-blue;
                }
            }
        }

        .footerB {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h2 {
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 13px;
            }
        }
        
        
        
    }

    .down-barra {
        display: block;
        background-color: $main-color-blue;
        width: 100%;
        height: 5px;   
    }

}
